<!DOCTYPE html>
<html>
    <head>
      <title> Cereal Numbers </title>
      
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
      <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <a class="navbar-brand" href="#">HELLO CEREALS!</a>
        </div>
      </nav>
      <svg id="vimage" width="1000" height="1000"></svg>

      <script src="http://d3js.org/d3.v3.min.js"></script>	    
      <script src="../static/bubblractions.js"></script>
      <script src="../static/data.js"></script>
      <script src="../static/cereal.js"></script>
      <script src="../static/brand.js"></script>
      <script src="../static/root.js"></script>
      <script src="../static/branches.js"></script>
    </body>
   
</html>
